@charset "utf-8";
/* TypeC-2column css */

/* body
------------------------------*/
body {
  background-color: #ccc;
}

.logo-img {
  width: 10vw;
}

/* wrapper
------------------------------*/
.wrapper {
  width: 1000px;
  margin: 0 auto;
  background-color: #fff;
}

/* header
------------------------------*/
header {
  padding: 10px 20px 10px;
  background-color: #fff;
}

header h1 {
  width: 200px;
  float: left;
}

/* nav
------------------------------*/
nav {
  width: 700px;
  height: 30px;
  float: right;
  margin-top: 10px;
}

nav ul li {
  width: 20%;
  float: left;
}

nav ul li a {
  display: block;
  line-height: 30px;
  color: #999;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-right: 1px solid #999;
}

nav ul li:last-child a {
  border-right: none;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #333;
}

/* main-visual
------------------------------*/
.kv-wrapper {
  background-color: #999;
  height: 400px;
  position: relative;
}

.kv-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

  h2{
    font-size: 1em;
  }
  
/* container
------------------------------*/
.container {
  margin: 20px;
}

/* article
------------------------------*/
article {
  width: 640px;
  float: left;
}

h2 {
  font-size: 18px;
  line-height: 40px
}

/* section
------------------------------*/
section {
  margin-left: 20px;
  margin-bottom: 20px
}

h3 {
  line-height: 30px
}

p {
  text-align: justify;
  margin-bottom: 10px
}

/* aside
------------------------------*/
aside {
  width: 30%;
  height: auto;
  float: right;
}

aside .ad {
  margin-bottom: 20px;
}

aside .ad img {
  width: 300px;
  height: auto;
  vertical-align: bottom;
}

/* footer
------------------------------*/
footer {
  text-align: center;
  line-height: 100px;
  background-color: #999;
}

small {
  color: #fff;
}
